.login-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #6a11cb, #2575fc);
  background-size: 400% 200%;

  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Login card */
.login-card {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 40px 35px;
  width: 350px;
  text-align: center;
  color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.login-card h2 {
  margin-bottom: 10px;
}

.login-card form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.login-card input {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.login-card button {
  background: #fff;
  color: #2575fc;
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background: #e0e0e0;
}

.signup-text {
  display: block;
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #fff;
  text-decoration: underline;
}
